[submodule "shiny-basics"]
	path = shiny-basics
	url = git@github.com:mitchelloharawild/shiny-basics.git
	branch = gh-pages
[submodule "workshop-nyr2023"]
	path = nyr2023
	url = git@github.com:mitchelloharawild/workshop-nyr2023.git
	branch = gh-pages
[submodule "f4sg-africa"]
	path = f4sg-africa
	url = git@github.com:mitchelloharawild/workshop-f4sg-africa.git
	branch = gh-pages
